body{
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  background-color: #222;
  font-size: 1.2em;
  background-image: url('../img/dark_leather.png')
}
.status {
  font-size: 1.5em;
  margin: 2em;
  text-align: center;;
}
#search-form-group {
  display: block;
  text-align: center;
}
#container {
  margin-top: 1em;
}
.error {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.search-form {
  margin: 2em 0 1em 0;
}
.search-btn {
  margin-right: 1em;
  color: #fff;
  background-color: #FF0B35;
  transition: all 0.3s ease;
}
.search-btn:hover,
.search-btn:active,
.search-btn:focus {
  background-color: #B20427;
  border-color: #940320;
}
.search-btn,
.random-search {
  border-radius: 0px 0px 0px 0px;
  border: 1px solid #FF0B35;
  font-size: 1.5em;
}
.random-search {
  border: 1px solid #FF0B35;
  color: #FF305C;
  transition: all 0.3s ease;
  background-color: transparent;
}

.random-search:hover,
.random-search:active,
.random-search:focus {
  background-color: rgba(255,11,63,.1);
  color: #FF496E;
  border-color: #FF305C;
}
.search-result {
  border: 1px solid #FF6E42;
  margin: 1em auto;
  padding: 1em;
  background-color: #fff;
  color: #222;
  border-radius: 4px;
}
.search-result div {
  font-size: 1.6em;
  clear: left;
}
.hide {
  display: none;
}
h2 {
  color: #0084B2;
  float: left;
}
.search-result img {
  width: 200px;
  display: block;
  margin: 1em;
  box-shadow: 0px 0px  5px #999;
  border-radius: 2px;
  float: right;
}
.search-text {
  margin-right: 1em;
  font-size: 1.5em;
  padding: 1em;
  border-radius: 30px 0px 0px 30px;
}
.tagline {
  font-style: italic;
  margin-top: 1em;
  color: #FF6E42;
}